/* (for my future reference remember this -->
 https://stackoverflow.com/questions/19940459/box-sizing-border-box
 and this -->
 https://www.html5xcss3.com/2013/07/10-basic-tips-to-design-a-responsive-website.html) */

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, 'sans-serif';
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.container {
  display: flex;
}

.side-panel {
  flex: 0 0 auto;
  width: 260px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.content-panel {
  flex: 1 1 auto;
}


.flex-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-grid .col {
  width: 48%;
}

.title {
  margin-top: 10px;
  margin-bottom: 40px;
}

.row {
  display: block;
}

.form {
  border-radius: 5px;
  padding: 20px;
}

.form-title {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

/* (for my future reference remember this --> https://developer.mozilla.org/en/docs/Web/CSS/Adjacent_sibling_selectors) */

.form-group + .form-group {
  margin-top: 15px;
}

.checkbox {
  display: block;
  margin-bottom: 5px;
}

.check-equipment {
  vertical-align: 2px;
  display: inline-block;
  padding-right: 3px;
}

.car-card {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.car-card-image {
  height: 150px;
  background-size: cover;
}

.car-card-title {
  padding-top: 10px;
}

/* component elements */

.blue-text {
  color: #0074d9;
}

.black-text {
  color: #111;
}

.grey-border {
  border: #ddd 2px solid;
}

.grey-background {
  background-color: #f8f8f8;
}

/* for my future reference remember this --> https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/*/
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* For small screens below 800px*/

@media (max-width: 800px) {
  .container {
    display: block;
  }

  .content-panel {
  flex: 1 0 auto;
}

  .side-panel {
    width: 100%;
  }

  .flex-grid {
    display: block;
  }

  .flex-grid .col {
    width: 100%;
  }
}
